<ul>
	<% _.each(bookies, function(booky) { %>
  	<li>
   		<a href="<%= booky.href %>">
   			<%= booky.title %>
   		</a>
  	 </li>
	<% }) %>
</ul>


<% if( typeof name == 'undefined' ) { %>
	<center>
		<p>
			Please log in to post a booky.
		</p>
		<a href="/connect" class="twitter-connect"></a>
	</center>
<% } else { %>
	<center>
		<p>
			Hello @<%= name %>!
		</p>
		<form class="form-inline">
		  <input type="text" id="title" class="span2" placeholder="Title…">
		  <input type="text" id="href" class="span2" placeholder="Booky…">
		  <button type="submit" class="btn btn-info">Push it!</button>
		</form>
		<p class="alert alert-error">
			Whoops, check your input bro!
		</p>
	</center>
<% } %>