@import "../bootstrap/css/bootstrap.css";

body {
	background: #2B2B2B url(/images/bg.gif);
	color: #cecece;
	text-shadow: 0 1px 1px rgba(0,0,0,.75);
}

header {
	margin:0 auto;
	text-align:center;
}

body, p, h1, h2, h3, h4, h5, h6 {
	font-family: "Varela Round", "helvetica neue", arial, helvetica, sans-serif;
	color: #cecece;
}

h1 {
	font-size:64px;
	line-height:70px;
	font-weight:normal;
	margin: 30px 0;
}


a {
	font-size:18px;
	line-height:26px;
	color:#49adc1;
}

a:hover {
	color: #f48866;
	text-decoration:none;
}

ul {
	margin: 40px 0;
	padding-left: 50px;
}

p.alert {
	width:300px;
	display:none;
}

.wrapper {
	width:380px;
	margin:0 auto;
}

.twitter-connect {
	display:block;
	width:151px;
	height:24px;
	background:url(/images/sign-in-with-twitter-d.png);
	margin-bottom:20px;
}

a.fork-me {
	width:141px;
	height:141px;
	display:block;
	background:url(/images/ForkMe_Blk.png);	
	position:absolute;
	top:0;
	left:0;
}